
.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}


.innertube{
    background: #ffffff;
}

.innertube:hover {
    cursor:move;
}

/*IE6 fix*/
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}


.axis path,
.axis line{
    fill: none;
    stroke: black;
}

.line{
    fill: none;
    stroke: blue;
    stroke-width: 1px;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}

.axis2{
    opacity: 0.0;
}