
.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}


body{
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    font-family:Sans-serif;
    line-height: 1.5em;
}

.innertube{
    margin: 15px; /* Provides padding for the content */
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}

/*IE6 fix*/
* html body{
    padding: 0 0 0 230px; /* Set the last value to the width of the navigation frame */
}

* html main{
    height: 100%;
    width: 100%;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}


.axis path,
.axis line{
    fill: none;
    stroke: black;
}

.line{
    fill: none;
    stroke: blue;
    stroke-width: 2px;
}

.tick text{
    font-size: 12px;
}

.tick line{
    opacity: 0.2;
}

.axis2{
    opacity: 0.0;
}